config MMI_CHARGER
        tristate "MMI CHARGER"
        default n
        help
         Say Y here if you have a mmi charger compatible
         device connected.

         This driver can also be built as a module.  If so, the module
         will be called mmi_charger.

config MMI_QC3P_TURBO_CHARGER
    bool "Enable MMI QC3P Turbo Charger"
    default n
    help
        Say Y here to enable mmi QC3P Turbo Charger.

        If unsure, say N.
